body{
    margin: 0;
    padding: 0;
    text-align: center;
}

input[type="text"], input[type="password"],input[type="email"]{
    outline: none;
    padding: 10px;
    width: 300px;
    border-radius: 10px;
    border: 0;
    margin: 20px auto;
    background-color: #DDE3Ec;

}
.form-registro input[type="text"], input[type="password"],input[type="email"]{
    outline: none;
    padding: 10px;
    width: 300px;
    border-radius: 10px;
    border: 0;
    margin: 20px auto;
    background-color: #DDE3Ec;
    display: block;
  }
::placeholder {
    color: white;
}

input[type="submit"],button[type="button"]{
    padding: 5px;
    color: #fff;
    background: #45b6af ;
    width: 100px;
    margin: 20px;
    margin-top: 0;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
}
input[type="submit"]:hover,button[type="button"]:hover{
    background-color: #38968f;
}

header{
    border-bottom: 2px solid #eee;
    padding: 20px 0;
    margin-top: 20px;
    margin-bottom: 15px;
    width: 100%;
    text-align: center;
}
